<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="there&#39;s no place like home">
    <meta name="author" content="57.loma">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="/assets/blog.css" rel="stylesheet">
    <style id="holderjs-style" type="text/css"></style>
</head>
