<div class="container">
  <div class="jumbotron">
    <p>Hi, my name is Chitpaseuth. I'm writing code for a living.
      There are few <a href="projects">projects</a> that I've developed.
      Let me know if you like it and we can have some beer.</p>
    <p>Cheer!</p>
    <p><a href="//plus.google.com/114585093346326397514?prsrc=3" rel="publisher" target="_top" style="text-decoration:none;"><img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="margin-top:-16px;border:0;width:32px;height:32px;"></a><span>&nbsp;</span><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.f01c5f22c35d1756a5558a8231958ba5.en.html#_=1412426132685&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=57loma&amp;show_count=false&amp;show_screen_name=true&amp;size=l" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 138px; height: 28px;"></iframe></p></div></div>
